input{
	file{
	path =>"C:\Users\Sahana\data.csv"
	start_position => "beginning"
	sincedb_path => "/dev/null"
	}
}

filter{
	csv{
	separator => ","
	columns => ["Common Name","CrowdStrike","IRL","Kaspersky","Secureworks","Mandiant","FireEye","Symantec","iSight","Cisco (Sourcefire/VRT > Talos)","Palo Alto Unit 42","Other Names","Operation 1","Operation 2","Operation 3","Operation 4","Toolset / Malware","Targets","Modus Operandi","Overlaps to","Comment"]
	}
}

output{
	elasticsearch{
	hosts => "localhost"
	index =>"threatactors"
	document_type => "My_collection"
	}
	stdout{}
}